.site-footer{
    .main-navigation{
        padding-top: 60px;
        .menu-menu-1-container{
            padding: 10px 10px;
            .menu{ 
                flex-flow:wrap;
                
                .menu-item{
                padding:0px 10px 0px 10px;
                    a{
                    color:#00cc00;
                    }
                    a:hover{
                        color:#1f8e1f;
                    }
                }
                .menu-item-225,
                .menu-item-231,
                .menu-item-228{
                    border-right: 1px solid #fff;
                }
            }
        }
    }
}